# Project 1, Group 3 - Places to Bike

## Overview
Biking is becoming more prevalent as a form of commuting to work, exercise, traveling, and for leisure. In this project, our group explored cities that were considered "bike-friendly" based on the <a href="https://cityratings.peopleforbikes.org/methodology/" target="_blank">Places for Bikes</a> city ratings. Citites were rated on five factors: Ridership, Safety, Network, Acceleration, and Reach. Each factors were scored on a five-point scale and weighted at 20% each.

People for Bikes organization defined the five factors as:
<p><strong>Ridership</strong> - reflects how many people in the community ride bikes</p>
<p><strong>Safety</strong> - considers fatalities and injuries of people on bikes as well as those walking and driving.</p>
<p><strong>Network</strong> - evaluates the quality of the bike network -- how completely it connects people to each other and local destinations using comfortable route</p>
<p><strong>Reach</strong> - determines how well a community's low-stress network serves all members of the community</p>
<p><strong>Acceleration</strong> - assesses how quickly a community is improving its biking infrastructure and how successful its encouragement programs are at getting people to ride</p>

Some abbreviations to keep in mind:
<ul>
    <li>ACS - U.S. Census American Community Survey</li>
    <li>FARS - Fatality Analysis Reporting System</li>
    <li>BNA - PlacesForBikes Bike Network Analysis</li>
</ul>

In [9]:
# Import dependencies
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [11]:
# Store filepath as variable
places_for_bikes = "data/places_for_bikes_results.csv"

In [12]:
# Read data with Pandas
bike_data = pd.read_csv(places_for_bikes, encoding="ISO-8859-1")

# Display 10 rows of data
bike_data.head(10)

,Places_ID_2019,City,City_Alt,ACS Bike-to-Work Mode Share,Land Area,Population,ACS Target,ACS Normalized Score,ACS Ridership Points,SMS Recreation Riding,...,ACS Bike-to-Work Mode Share Men,ACS Bike-to-Work Mode Share Women,ACS Gap,ACS Tier,ACS_Target,Distance.1,ACS Points,Total Reach Points,Bonus,Total Ponts
0,363,"SPRINGDALE, ARKANSAS","SPRINGDALE, AR",0.30%,41.8,"77,252",12.60%,1.7,0.1,12.40%,...,0.01,0.00,0.01,1.0,-0.02,0.03,1.0,4.0,0.5,3.0
1,116,"ENID, OKLAHOMA","ENID, OK",0.70%,73.7,"50,809",11.50%,5.5,0.3,13.00%,...,0.01,0.00,0.01,2.0,-0.05,0.06,1.2,3.8,0.0,2.4
2,108,"DUBUQUE, IOWA","DUBUQUE, IA",0.40%,30.0,"58,410",20.80%,2.0,0.1,16.50%,...,0.00,0.00,0.00,1.0,-0.02,0.02,1.7,3.8,0.0,2.1
3,357,"SOUTH BEND, INDIANA","SOUTH BEND, IN",1.30%,41.5,"101,928",12.60%,7.8,0.4,15.80%,...,0.02,0.01,0.02,3.0,-0.60,0.62,3.1,3.7,0.0,2.0
4,1205,"CRESTED BUTTE, COLORADO","CRESTED BUTTE, CO",41.10%,0.8,"1,385",51.00%,75.6,3.8,18.80%,...,0.36,0.52,-0.16,3.0,-0.60,0.44,3.6,3.6,0.0,2.6
5,181,"KALAMAZOO, MICHIGAN","KALAMAZOO, MI",1.30%,24.7,"75,833",20.80%,5.5,0.3,16.80%,...,0.02,0.00,0.02,3.0,-0.60,0.62,3.1,3.6,0.0,1.9
6,365,"SPRINGFIELD, MISSOURI","SPRINGFIELD, MO",0.90%,81.7,"165,785",10.70%,7.9,0.4,16.80%,...,0.01,0.00,0.01,2.0,-0.05,0.06,1.3,3.5,0.0,1.9
7,1682,"SAN JUAN CAPISTRANO, CALIFORNIA","SAN JUAN CAPISTRANO, CA",1.10%,14.1,"35,948",26.30%,3.6,0.2,15.70%,...,0.02,0.00,0.02,2.0,-0.05,0.07,0.8,3.4,0.0,1.9
8,70,"CHARLOTTESVILLE, VIRGINIA","CHARLOTTESVILLE, VA",4.20%,10.2,"46,487",26.30%,12.1,0.6,13.90%,...,0.05,0.03,0.02,3.0,-0.60,0.62,3.1,3.3,0.0,1.8
9,30,"BENTONVILLE, ARKANSAS","BENTONVILLE, AR",0.30%,31.3,"44,601",17.20%,1.6,0.1,12.60%,...,0.01,0.00,0.00,1.0,-0.02,0.02,1.2,3.3,0.5,3.1

In [13]:
# Renaming column
bike_data_df = bike_data.rename(columns={"Total Ponts":"Total Points", " Population ":"Population"})
bike_data_df.head()

,Places_ID_2019,City,City_Alt,ACS Bike-to-Work Mode Share,Land Area,Population,ACS Target,ACS Normalized Score,ACS Ridership Points,SMS Recreation Riding,...,ACS Bike-to-Work Mode Share Men,ACS Bike-to-Work Mode Share Women,ACS Gap,ACS Tier,ACS_Target,Distance.1,ACS Points,Total Reach Points,Bonus,Total Points
0,363,"SPRINGDALE, ARKANSAS","SPRINGDALE, AR",0.30%,41.8,"77,252",12.60%,1.7,0.1,12.40%,...,0.01,0.00,0.01,1.0,-0.02,0.03,1.0,4.0,0.5,3.0
1,116,"ENID, OKLAHOMA","ENID, OK",0.70%,73.7,"50,809",11.50%,5.5,0.3,13.00%,...,0.01,0.00,0.01,2.0,-0.05,0.06,1.2,3.8,0.0,2.4
2,108,"DUBUQUE, IOWA","DUBUQUE, IA",0.40%,30.0,"58,410",20.80%,2.0,0.1,16.50%,...,0.00,0.00,0.00,1.0,-0.02,0.02,1.7,3.8,0.0,2.1
3,357,"SOUTH BEND, INDIANA","SOUTH BEND, IN",1.30%,41.5,"101,928",12.60%,7.8,0.4,15.80%,...,0.02,0.01,0.02,3.0,-0.60,0.62,3.1,3.7,0.0,2.0
4,1205,"CRESTED BUTTE, COLORADO","CRESTED BUTTE, CO",41.10%,0.8,"1,385",51.00%,75.6,3.8,18.80%,...,0.36,0.52,-0.16,3.0,-0.60,0.44,3.6,3.6,0.0,2.6

In [14]:
# Splitting City column to two new columns - City Name and State
bike_split = bike_data_df
bike_split[['City Name','State']] = bike_split["City"].str.split(",", n=1, expand=True)
bike_split.head()

,Places_ID_2019,City,City_Alt,ACS Bike-to-Work Mode Share,Land Area,Population,ACS Target,ACS Normalized Score,ACS Ridership Points,SMS Recreation Riding,...,ACS Gap,ACS Tier,ACS_Target,Distance.1,ACS Points,Total Reach Points,Bonus,Total Points,City Name,State
0,363,"SPRINGDALE, ARKANSAS","SPRINGDALE, AR",0.30%,41.8,"77,252",12.60%,1.7,0.1,12.40%,...,0.01,1.0,-0.02,0.03,1.0,4.0,0.5,3.0,SPRINGDALE,ARKANSAS
1,116,"ENID, OKLAHOMA","ENID, OK",0.70%,73.7,"50,809",11.50%,5.5,0.3,13.00%,...,0.01,2.0,-0.05,0.06,1.2,3.8,0.0,2.4,ENID,OKLAHOMA
2,108,"DUBUQUE, IOWA","DUBUQUE, IA",0.40%,30.0,"58,410",20.80%,2.0,0.1,16.50%,...,0.00,1.0,-0.02,0.02,1.7,3.8,0.0,2.1,DUBUQUE,IOWA
3,357,"SOUTH BEND, INDIANA","SOUTH BEND, IN",1.30%,41.5,"101,928",12.60%,7.8,0.4,15.80%,...,0.02,3.0,-0.60,0.62,3.1,3.7,0.0,2.0,SOUTH BEND,INDIANA
4,1205,"CRESTED BUTTE, COLORADO","CRESTED BUTTE, CO",41.10%,0.8,"1,385",51.00%,75.6,3.8,18.80%,...,-0.16,3.0,-0.60,0.44,3.6,3.6,0.0,2.6,CRESTED BUTTE,COLORADO

In [15]:
# Dropping the City column and City_Alt column from the dataframe
bike_split.drop(columns = ["City"], inplace=True)
bike_split.drop(columns = ["City_Alt"], inplace=True)
bike_split.head()

,Places_ID_2019,ACS Bike-to-Work Mode Share,Land Area,Population,ACS Target,ACS Normalized Score,ACS Ridership Points,SMS Recreation Riding,SMS Points,Community Survey Ridership Score,...,ACS Gap,ACS Tier,ACS_Target,Distance.1,ACS Points,Total Reach Points,Bonus,Total Points,City Name,State
0,363,0.30%,41.8,"77,252",12.60%,1.7,0.1,12.40%,2.1,2.3,...,0.01,1.0,-0.02,0.03,1.0,4.0,0.5,3.0,SPRINGDALE,ARKANSAS
1,116,0.70%,73.7,"50,809",11.50%,5.5,0.3,13.00%,2.2,NaN,...,0.01,2.0,-0.05,0.06,1.2,3.8,0.0,2.4,ENID,OKLAHOMA
2,108,0.40%,30.0,"58,410",20.80%,2.0,0.1,16.50%,2.7,2.2,...,0.00,1.0,-0.02,0.02,1.7,3.8,0.0,2.1,DUBUQUE,IOWA
3,357,1.30%,41.5,"101,928",12.60%,7.8,0.4,15.80%,2.6,2.3,...,0.02,3.0,-0.60,0.62,3.1,3.7,0.0,2.0,SOUTH BEND,INDIANA
4,1205,41.10%,0.8,"1,385",51.00%,75.6,3.8,18.80%,3.1,3.6,...,-0.16,3.0,-0.60,0.44,3.6,3.6,0.0,2.6,CRESTED BUTTE,COLORADO

In [16]:
# Re-organizing columns and keeping columns that are relevant to our research question
bike_df = bike_split[['Places_ID_2019', 'City Name', 'State', 'Population', 'Total Points']]

bike_df.head(10)

   Places_ID_2019            City Name        State Population  Total Points
0             363           SPRINGDALE     ARKANSAS     77,252           3.0
1             116                 ENID     OKLAHOMA     50,809           2.4
2             108              DUBUQUE         IOWA     58,410           2.1
3             357           SOUTH BEND      INDIANA    101,928           2.0
4            1205        CRESTED BUTTE     COLORADO      1,385           2.6
5             181            KALAMAZOO     MICHIGAN     75,833           1.9
6             365          SPRINGFIELD     MISSOURI    165,785           1.9
7            1682  SAN JUAN CAPISTRANO   CALIFORNIA     35,948           1.9
8              70      CHARLOTTESVILLE     VIRGINIA     46,487           1.8
9              30          BENTONVILLE     ARKANSAS     44,601           3.1

In [17]:
# Sort dataframe based on Total Points scored and Population size for Bike Friendliness
bike_total_points = bike_df.sort_values(["Total Points", "Population"], ascending=[False, False])
bike_total_points.head(10)

     Places_ID_2019     City Name       State Population  Total Points
69               39       BOULDER    COLORADO    106,271           3.7
42              132  FORT COLLINS    COLORADO    159,150           3.6
201              14     ARLINGTON    VIRGINIA    229,534           3.4
244             119        EUGENE      OREGON    163,135           3.4
407           49716     MANHATTAN    NEW YORK  1,653,877           3.4
153             476      LAWRENCE      KANSAS     93,954           3.3
372             293      PORTLAND      OREGON    630,331           3.3
114           34600      BROOKLYN    NEW YORK  2,635,121           3.3
297             234   MINNEAPOLIS   MINNESOTA    411,452           3.2
204             215       MADISON   WISCONSIN    248,856           3.2